.formulario{
    font-family: "oswald";
    color: $gris;
    text-align: center;
    font-size: 18px;
    fieldset{
        display: inline;
        border-color: #50413C;
        align-self: center;
        margin-bottom: 200px;
        background-image: url(../img/fondo.jpg);
        background-size: cover;
        height: auto;
        width: 310px;
        border: 2px solid $gris;
        border-radius: 25px;
        box-shadow: 1px 1px 10px $gris;
    }
    form{
        display: flexbox;
        justify-content: center;
        justify-self: center;
        text-align: center;
        font-size: 18px;
        textarea{
            border: 2px solid $gris;
            border-radius: 5px;
            background-color: #d4cac157;
            resize: none;
        }        
        input{
            border: 2px solid $gris;
            height: 35px;
            border-radius: 5px;
            background-color: $blanco;
            :focus{
                font-size: 27px;
                color: $marron;
                height: 60px;
                width: 200px;
                transition: 1.2s;
            }
            ::placeholder{
                text-align: center;
            }
        }
        
    }
}