.footer{
    background-color:black;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-align: center;
    color: $blanco;
    padding: 20px;    
    a{
        letter-spacing: 20px;
        font-size: 40px;
        color: $marron;
        margin-top: 25px;
        text-decoration: none;
    }
}
.redes a:hover{
    transform: scale(1.8);
    transition: all 0.5s;
}